.tile {
  position: relative;
  user-select: none;
  pointer-events: none;

  width: stretch;
  aspect-ratio: 1 / 1;

  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    all: unset;

    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  // Needs to be here because otherwise .tile p takes precedence
  .score {
    position: absolute;

    bottom: 3px;
    right: 5px;
    font-size: 0.75rem;
  }

  .multiplier {
    position: absolute;

    top: 3px;
    left: 5px;
    font-size: 0.5rem;
  }

  background-color: var(--background-alt);
  color: var(--text);
  font-size: 1rem;

  .letter {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: var(--foreground);
    color: var(--text-alt);
    font-size: 1.5rem;

    &.highlight {
      background-color: var(--highlight);
      color: var(--text-alt);
    }

    &.tripleWord,
    &.doubleWord,
    &.tripleLetter,
    &.doubleLetter {
      background-color: rgba(255, 255, 255, 0.7);
    }

    &.highlight {
      background-color: var(--highlight);
      color: var(--text-alt);
      opacity: 1;
    }

    &.grey {
      background-color: var(--foreground-alt);
    }
  }

  &.doubleLetter {
    background-color: var(--ocean-blue);
  }

  &.tripleLetter {
    background-color: var(--forest-green);
  }

  &.doubleWord {
    background-color: var(--cardinal-red);
  }

  &.tripleWord {
    background-color: var(--harvest-orange);
  }

  &.highlight {
    background-color: var(--highlight);
    color: var(--text-alt);
  }
}
