.handContainer {
  display: flex;
  gap: 1px;
  border: solid 5px var(--background);
  border-radius: 5px;
  background-color: var(--background);
}

.statusBar {
  * {
    user-select: none;
  }

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 100%;
  background-color: var(--background-secondary);
  border-radius: 5px;

  .scoreBar {
    box-sizing: border-box;

    background-color: var(--background-alt);
    border: solid 5px var(--background);
    padding: 10px;
    gap: 2px;
    width: 120px;

    display: flex;
    border-radius: 5px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    color: white;

    p {
      all: unset;
      font-size: 0.85rem;
      font-family: Lato, sans-serif;
    }
  }

  button {
    all: unset;
    min-width: 100px;
    background-color: var(--background-alt);
    border: solid 5px var(--background);
    border-radius: 5px;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.play {
      background-color: var(--cardinal-red);
      border: solid 5px var(--background);
      min-width: unset;
      flex: 1;

      &:hover {
        background-color: var(--cardinal-red-hover);
      }

      &:active {
        background-color: var(--cardinal-red);
      }

      &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
          background-color: var(--cardinal-red);
        }

        &:active {
          background-color: var(--cardinal-red);
        }
      }
    }

    &:hover {
      background-color: var(--background-alt-hover);
    }

    &:active {
      background-color: var(--background-alt);
    }

    p {
      all: unset;
      font-size: 1rem;
      font-family: Lato, sans-serif;
    }
  }
}
