:root {
  --foreground: #f8f8f8;
  --foreground-alt: #ccc;
  --background: #111;
  --background-alt: #333;
  --background-alt-hover: #444;
  --background-tertiary: #222;

  --text: #f8f8f8;
  --text-alt: #333;

  --ocean-blue: #1985a1;
  --forest-green: #4ca94c;
  --cardinal-red: #b83d43;
  --cardinal-red-hover: #c1444a;
  --harvest-orange: #df9a2a;
}

body {
  padding: 0;
  margin: 0;
}
